    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Milk + Honey</h2>
                <p>
                    Milk + Honey is a music collective based out of Bellingham, WA. We're made up of producers, DJs, talent buyers,
                    promoters, photographers, engineers, students, and more.
                </p>
                <p>
                    We have a passion for reading liner notes, discovering artists on the internet, exposing talent we believe
                    is underrepresented (either in our market, or across the board), and throwing live shows that both attendees
                    and acts won't soon forget.
                </p>
            </div>
        </div>
    </section>
